<h1>Remove Funds From Balance</h1>
<h3>Current Balance: <%= number_to_currency(@balance.balance) %></h3>


<div class="row">
  <div class="col-sm-5">

    <%= form_for @balance, url: user_balance_path do |f| %>
      <% if @balance.errors.any? %>
        <div id="error_explanation text-danger">
          <h2><%= pluralize(@balance.errors.count, 'error') %> prohibited this book from being saved:</h2>

          <ul>
          <% @balance.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label(:balance, 'Funds To Remove') %><br>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.text_field :balance, :value => '0.00', maxlength: 6, :class => 'form-control' %>
        </div>
      </div>
      <%= f.hidden_field 'update_type', :value => 'remove' %>
      <div class="actions">
        <%= f.submit 'Remove Funds', :class => 'btn btn-primary' %>
        <%= link_to 'Back', user_balance_path, class: 'btn btn-warning' %>
      </div>
    <% end %>

  </div>
</div>