<!-- <p id="notice"><%= notice %></p> -->

<h1>Your Book Listings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 100px"></th>
      <th></th>
      <th style="width: 160px"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <% Rails.logger.debug("REACHED HERE #{book.due_date}") %>
        <td><%= image_tag book.image.url(:thumb) %></td>
        <td><strong><%= link_to book.title, book %></strong></td>
        <td><%= book.author %></td>
        <td><%= number_to_currency(book.price) %></td>
        <% if book.due_date == DateTime.new(2000,1,1) %>
          <td>Unlisted</td>
        <% else %>
          <% Rails.logger.debug("REACHED HERE 2 #{book.due_date} #{book.title}") %>
          <td><%= book.due_date.strftime('%m/%d/%Y') %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <% if book.due_date == DateTime.new(2000,1,1) %>
        <div class="modal fade" id=<%= "relistBook#{book.id}" %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>Relist <%= book.title %></strong></h4>
              </div>
              <div class="modal-body">
                <%= form_tag("/books/update", method: "post", id: "relistBookForm#{book.id}") do %><br/>
                  <%= label_tag(:price, "Daily Price") %>
                  <%= text_field_tag(:price) %> <br/><br/><br/>
                  <%= label_tag ("Due date:") %>
                  <%= date_select("book_relist", "due_date", order: [:month, :day, :year])%><br/>
                  <%= hidden_field_tag(:from, "relist") %>
                  <%= hidden_field_tag(:id, book.id) %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form=<%= "relistBookForm#{book.id}"%> value="Submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div>
          <td><%= link_to "Relist", "#relistBook#{book.id}", "data-toggle" => "modal" %></td>
        <% else %>
          <td><%= link_to 'Unlist', book, method: :delete, data: { confirm: 'Are you sure you want to unlist this book?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>