<h1> Your Book Listing </h1>

<p>
  <%= image_tag @book.image.url(:medium) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Daily Price:</strong>
  <%= number_to_currency(@book.price) %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @book.due_date.to_formatted_s(:long) %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @book.comments %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Your book listings', books_path %>
