<h1> Your Book Listing </h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th style="width: 27%"></th>
    <th style="width: 73%"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td class="text-center">
        <%= link_to @book do %>
          <%= image_tag @book.image.url(:medium) %>
        <% end %>
      </td>
      <td>
        <h3><%= @book.title %></h3>
        <br> <strong>Author:</strong> <%= @book.author %>
        <br> <strong>Daily Price:</strong> <%= number_to_currency(@book.price) %>
        <br> <strong>Condition:</strong> <%= @book.condition %>
        <br> <strong>Due date:</strong> <%= @book.due_date.to_formatted_s(:long) %>
        <br> <strong>Comments:</strong>
        <br> <%= @book.comments %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %> &nbsp;
<%= link_to 'Your book listings', books_path, class: 'btn btn-default' %>
