<% if !notice.nil? %>
  <% if notice.include? "Insufficient Balance" %>
    <%= link_to "Deposit Funds Now!", current_user.user_balance, class: 'btn btn-default' %></p>
  <% end %>
<% end %>

<h1>Your Transactions</h1>

<div class="col-xs-6">
<h2 class="sub-header">Books you have rented</h2>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Status</th>
      <th>Book Title</th>
      <th>Total Price</th>
      <th>Owner</th>
      <th colspan="20"></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_transaction.each do |transaction| %>
      <tr>
        <% if !transaction.end_date.nil? %>
          <td style="color:green">Closed on <%= transaction.end_date.strftime('%m/%d/%Y') %></td>
        <% else %>
          <td style="color:red">Due on <%= get_book(transaction.book_id).due_date.strftime('%m/%d/%Y') %></td>
        <% end %>
        <td><%= get_book(transaction.book_id).title %></td>
        <td><%= transaction.price * ((Date.today - transaction.start_date.to_date) + 1) %></td>
        <td><%= transaction.seller_email %></td>
        <td><%= link_to 'View', transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div style="text-align: center">
    <%= will_paginate @buy_transaction, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0, :param_name => 'buy_page' %>
  </div>
</div>

<div class="col-xs-6">
<h2 class="sub-header">Books you have lent</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Book Title</th>
      <th>Total Price</th>
      <th>Renter</th>
      <th colspan="20"></th>
    </tr>
  </thead>

  <tbody>
    <% @sell_transaction.each do |transaction| %>
      <tr>
        <% if !transaction.end_date.nil? %>
          <td style="color:green">Closed on <%= transaction.end_date.strftime('%m/%d/%Y') %></td>
        <% else %>
          <td style="color:red">Due on <%= get_book(transaction.book_id).due_date.strftime('%m/%d/%Y') %></td>
        <% end %>
        <td><%= get_book(transaction.book_id).title %></td>
        <td><%= transaction.price * ((Date.today - transaction.start_date.to_date) + 1) %></td>
        <td><%= transaction.buyer_email %></td>
        <td><%= link_to 'View', transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div style="text-align: center">
    <%= will_paginate @sell_transaction, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0, :param_name => 'sell_page' %>
  </div>
</div>
<br>
